<?xml version="1.0" encoding="UTF-8"?>
<suite name="Free CRM Test by Moin" parallel ="tests">
<listeners>
    <listener class-name="com.crm.qa.ExtentReportListner.ExtentReporterNG" />
</listeners>
  <test name="ChromeExecution" >
  <parameter name="browserName" value = "chrome" />
    <classes>
    	<class name="com.crm.qa.testcases.LoginPageTest"/>
      	<class name="com.crm.qa.testcases.HomePageTest"/>
    </classes>
 </test>
 <test name="FirefoxExecution" >
 <parameter name="browserName" value = "firefox" />
    <classes>
    	<class name="com.crm.qa.testcases.LoginPageTest"/>
      	<class name="com.crm.qa.testcases.HomePageTest"/>
    </classes>
 </test>
</suite>